*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
   background-color: #f1f6fc31;
}
header{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    padding-top: 30px;
    height: 100vh;
    /* position: relative; */
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
nav ul{
    display: flex;
    align-items: center;
}

nav ul a{
    color: white;
    margin: 0 10px;
    padding: 10px;
    text-transform: uppercase;
    font-size: 14px;
    display: block;
}

nav ul a::after{
    content: "";
    background-color: rgb(1, 68, 73);
    height: 3px;
    width: 0;
    display: block;
    margin: 0 auto;
    transition: .3s;
}

nav ul a:hover::after{
    width: 100%;
}

header > div > nav > a > img{
    width: 120px;
}

section, footer{
    padding: 0px 0;
}

h3{
    font-size: 50px;
}

p{
    color: 0000009c;
}



.container{
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 5%;
   
}

section.banner{
    display: flex;
    justify-content: center;
  
}

section > div{
    margin: 90px 100px;
    text-align: center;
    padding: 0 90px;
}

section > div > h1{
    font-size: 6em;
    color: white;
   
}

section > div > p{
    color: white;
    font-size: 1.3em;
    font-weight: lighter;
    margin: 18px 0;
}
.img-svg{
    background-image: url(../imagens/svg.png);
    width: 100%;
    height: 103px;
    position: absolute;
    background-repeat: no-repeat;
    bottom: 0;
}
div.conteudo-sobre{
    display: grid;
    grid-template-columns: repeat(3, 400px) ;
    grid-template-rows: 1fr 1fr;
    
}
div.titulo-sobre{
    grid-column: 1 / -1;
}
@media screen  and (max-width: 900px){
    div.conteudo-sobre{
        grid-template-columns: 1fr;
    }
}